<footer *ngIf="(user|async)?.uid" class="footer" >
  <ul class="social_list">
    <li></li>
    <li>
      <i class="fa fa-pinterest"></i>
    </li>
    <li>
      <i class="fa fa-twitter"></i>
    </li>
    <li>
      <i class="fa fa-facebook"></i>
    </li>
    <li>
      <i class="fa fa-instagram"></i>
    </li>
    <li>
      <i class="fa fa-linkedin"></i>
    </li>
    <li>
      <i class="fa fa-whatsapp"></i>
    </li>
    <li>
      <i class="fa fa-youtube"></i>
    </li>
  </ul>
  <p class="copy_right"><span>Requisições</span> &copy; 2022</p>
</footer>
